<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="header2 ">
  <div><b>חיגו להצעת מחיר ויעוץ</b></div>
  <div><strong><a href="tel:054-4885075">054-4885075 - איציק</a></strong> </div>
  <div><strong><a href="tel:052-2755986">052-2755986 - אסף</a></strong></div>
</div>




<footer class="section footer-classic context-dark bg-image" style="background: rgb(44, 44, 44);">

        <div class="container" id="marg">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><img src="assets\myLogo.jpg" alt="" width="140" height="80" >
                <p class="rights"><span>©  </span><span class="copyright-year">2021</span><span>  </span><span>כל הזכויות שמורות לטל מדמוני.</span></p>
                <p id="marg">האתר נבנה ועוצב על ידי טל מדמוני</p>
                <dd><a href="mailto:tal45859@gmail.com">tal45859@gmail.com</a></dd>
                <!-- Rights-->

              </div>
            </div>
            <div class="col-md-4">
              <h5>צור קשר</h5>
              <dl class="contact-list">
                <dt>כתובת:</dt>
                <dd>בן אליעזר 6 בית שמש</dd>
              </dl>
              <dl class="contact-list">
                <dt>מייל:</dt>
                <dd><a href="mailto:abnisurkiduah@gmail.com">abnisurkiduah@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>טלפון:</dt>
                <dd><a href="tel:052-2755986">052-2755986</a> <span>|</span> <a href="tel:054-4885075">054-4885075</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>בין לקוחותינו</h5>
              <ul class="nav-list">
                <li><a href="https://www.shikunbinui.com/he-IL" target="_blank">סולל בונה שיכון ובינוי</a></li>
                <li><a href="https://www.dimri.co.il" target="_blank">י.ח דמרי בניה ופיתוח בעמ</a></li>
                <li><a href="https://www.ashtrom.co.il" target="_blank">קבוצת אשטרום בעמ</a></li>
                <li><a href="https://www.electra-infrastructures.co.il" target="_blank">אלקטרה תשתיות בעמ</a></li>
                <li><a href="https://www.minrav.co.il" target="_blank">מנרב אחזקות בעמ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="https://www.facebook.com/%D7%90%D7%91-%D7%A0%D7%99%D7%A1%D7%95%D7%A8-%D7%95%D7%A7%D7%99%D7%93%D7%95%D7%97-%D7%91%D7%98%D7%95%D7%9F-%D7%91%D7%99%D7%94%D7%9C%D7%95%D7%9D-103115694844308/" target="_blank"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="https://www.instagram.com/itzikbresler/" target="_blank"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>

        </div>
      </footer>
