<div class="container">
<h2><strong>קצת עלינו</strong></h2>
<div>
  <h5 class="mb-3 mt-3"><strong>חברת א.ב ניסור וקידוח בטון מוכנים לכל אתגר - אנו מתמחים בניסור וקידוח בטון כולל עבודות הריסה ופינוי.</strong></h5>
  <h5 ><strong>חברתנו מבצעת מגוון רחב של ניסורי בטון כגון: </strong></h5>
  <h5 class="mb-3"><strong> פתיחת דלת, חלון , מבנים , פתחי אוויר ,חומות ועוד.</strong></h5>
  <h5 class="mb-3"><strong>ובנוסף חברתנו מבצעת קידוחים בבטון , בבלוקים , איטונג לאינסטלציה , חשמל , מזגנים , גדרות וחורים בכל הגדלים והצולים.</strong></h5>
  <h5 class="mb-3"><strong>חברתנו עובדת עם החברות הגדולות ברחבי הארץ ומספקת שירות מהיר איכותי ,מקצועי ואמין עם נסיון רב בתחום .</strong></h5>
  <h3><strong>נשמח לעמוד לשרותך להתייעצות ולהצעות מחיר עוד היום חייגו עכשיו :</strong></h3>
  <h4><a href="tel:054-4885075"> איציק - 0544885075</a></h4>
  <h4><a href="tel:052-2755986">אסף - 052-2755986</a></h4>
</div>
</div>
