
.container
{
  text-align: center;
  padding: 2%;
}

img{
    position :relative;
     height: 450px;
      width: 500px;
  }

@media only screen and (max-width: 600px) {

  .container {
    width: 80% !important;
    margin: 10%;
  }


  img{
    position :relative;
     height: 300px;
      width: 240px;
  }

}
