<div class="container mt-3" >
  <h2>משתמשים</h2>
  <div class="table-responsive">
    <table class="table table-dark table-hover ">
      <thead>
        <tr>
          <th>שם פרטי</th>
          <th>שם משפחה</th>
          <th>מייל</th>
          <th>תפקיד</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of UserArr | paginate: { itemsPerPage: 8, currentPage: page }">
          <td>{{item.FirstName}}</td>
          <td>{{item.LastName}}</td>
          <td><a href="mailto: {{item.Email}}" title="שלח מייל">{{item.Email}}</a></td>
          <td>{{item.Role}}</td>
          <td><button type="button" class="btn btn-danger btn-secondary" title="מחיקת משתמש מהאתר" (click)="OnClickDeleteUser(item.Id)">מחק</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-alert-error class="mt-1 mb-2" [ObjAlert]="ToAlert"  (ObjToChangeFather)="CloseAlert($event)" *ngIf="OpenAlert"></app-alert-error>
  <pagination-controls (pageChange)="page = $event"  [previousLabel]="'הקודם'"
  [nextLabel]="'הבא'"></pagination-controls>
</div>

